{% extends 'layout.html' %}

{% block content %}

<form action="{{ url_for('add_category') }}" method="post">
    <div class="mb-3">
        <div class="col-md-4">
            <label for="new_category" class="form-label">New Category</label>
            <input type="text" class="form-control" id="new_category" name="category" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
<a href="{{ url_for('show_categories') }}" class="btn">Return</a>

{%  endblock %}