{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h4>Question {{ question_index + 1 }} of {{ total }}</h4>
  <p>{{ question['question'] }}</p>
  <form method="post">
    {% for option in question['options'] %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="answer" id="{{ option }}" value="{{ option }}" required>
        <label class="form-check-label" for="{{ option }}">{{ option }}</label>
      </div>
    {% endfor %}
    <br>
    <input type="hidden" name="question_index" value="{{ question_index }}">
    <button type="submit" class="btn btn-success">Next</button>
  </form>
</div>
{% endblock %}