{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h3>Choose the number of questions for {{ category }} quiz</h3>
  <form method="post" action="{{ url_for('take_quiz', category=category) }}">
    <div class="form-group">
      <label for="num_questions">Number of Questions:</label>
      <input type="number" class="form-control" id="num_questions" name="num_questions" min="1" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Start Quiz</button>
  </form>
</div>
{% endblock %}