{% extends 'layout.html' %}

{% block content %}

<h1>{{ category }} Questions</h1>
<br>

<table class="table table-striped">
    <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Question</th>
          <th scope="col">Answer</th>
        </tr>
    </thead>
    <tbody>
        {% for question in Questions %}
            <tr>
                <td>{{ question['Q'] }}</td>
                <td>{{ question['A'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

<div class="d-grid gap-2 d-md-block">
    <a href="{{ url_for('remove_Question', category=category) }}" class="btn">
        Remove
    </a>
    <a href="{{ url_for('add_Question', category=category) }}" class="btn"> 
        Add
    </a>
    <a href="{{ url_for('show_categories') }}" class="btn">
        Return
    </a>
    <a href="{{ url_for('remove_category', category=category) }}" class="btn">
        Remove Category
    </a>
</div>

{%  endblock %}