{% extends 'layout.html' %}

{% block content %}

{% include 'flash_.html' %}
<style>
    a{
        text-decoration: none;
    }
</style>

<div class="row">
    {% for category in categories %}
    <div class="col-md-1 mb-1">
        <div class="card">
            <div class="card-body text-center">
                <a href="{{ url_for('Question_Management.Question_manager', category=category.name) }}" class="category-link">{{ category.name }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-md-1 mb-1">
        <div class="card add-category">
            <div class="card-body text-center">
                <a href="{{ url_for('Question_Management.add_category') }}" class="category-link">+</a>
            </div>
        </div>
    </div>
</div>

{%  endblock %}