{% extends 'layout.html' %}

{% block content %}

{% include 'flash_.html' %}
<div class="container d-flex justify-content-center align-items-center" style="height: 33vh; margin-top: 5vh;">
    <div class="text-center">
        <h1>Welcome</h1>
        <p class="mb-4">Please sign up or log in to continue.</p>
        <div class="d-flex justify-content-center gap-3">

            <a href="{{ url_for('login_signup.signup') }}" class="btn btn-primary">Sign Up</a>
            
            <a href="{{ url_for('login_signup.login') }}" class="btn btn-secondary">Log In</a>

        </div>
    </div>
</div>


{%  endblock %}